<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>    -->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Men&uuml;</h2>
          </header>
          <ul>
            <li><a href="{{ site.baseurl }}/index.html">Startseite</a></li>
            <li><span class="opener">"Die Pforte"</span>
              <ul>
                <li><a href="{{ site.baseurl }}/pforte.html">"Die Pforte" E-Books</a></li>
                <li><a href="{{ site.baseurl }}/abo.html">"Die Pforte" Abo</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/aktiv.html">Aktivit&auml;ten</a></li>
            <li>
              <span class="opener">&Uuml;ber Uns</span>
              <ul>
                <li><a href="{{ site.baseurl }}/40jahre.html">40 Jahre AgGL</a></li>
                <li><a href="{{ site.baseurl }}/jahresberichte.html">Jahresberichte</a></li>
                <li><a href="{{ site.baseurl }}/verein.html">Verein</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/mitgliedschaft.html">Mitgliedschaft</a></li>
            <li>
              <span class="opener">Herrmann-Susann-Preis</span>
              <ul>
                <li><a href="{{ site.baseurl }}/susann_preistraeger.html">Preistr&auml;ger</a></li>
                 <li><a href="{{ site.baseurl }}/susann_literatur.html">Literatur</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
            <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
          </ul>
        </nav>

      <!-- Section
        <section>
          <header class="major">
            <h2>Ante interdum</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="assets/images/pic07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="assets/images/pic09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>
-->

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Kontakt</h2>
          </header>
          <p>Melden Sie sich gerne bei uns</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <!-- <li class="fa-phone">{{ site.phone }}</li> -->
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">{{ site.title }} mit <a href="https://html5up.net">HTML5 UP</a> und <a href="https://jekyllrb.com/">Jekyll</a>.</p>
        </footer>

    </div>
  </div>
