<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Section -->
      <section>
        <header class="major">
          <h3>Aktuelles</h3>
        </header>
        <div class="mini-posts">
          <article>
            <h5><a href="https://www.bundestag.de/dokumente/textarchiv/2022/kw04-gedenkstunde-873604" target="_blank">Initiative der AgGL: Inge Auerbacher spricht im Bundestag</a></h5>
          </article>
        </div>
    </section>
  
      <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href="{{ site.baseurl }}/index.html">Startseite</a></li>
            <li><span class="opener">"Die Pforte"</span>
              <ul>
                <li><a href="{{ site.baseurl }}/pforte202021.html">"Die Pforte" 2020-21</a></li>
                <li><a href="{{ site.baseurl }}/pforte.html">Digital</a></li>
                <li><a href="{{ site.baseurl }}/abo.html">Abonnement</a></li>
                <li><a href="{{ site.baseurl }}/pforte_antiquariat.html">Antiquariat</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/aktiv.html">Aktivit&auml;ten / Aktuelles</a></li>
            <li>
              <span class="opener">&Uuml;ber Uns</span>
              <ul>
                <li><a href="{{ site.baseurl }}/40jahre.html">40 Jahre AgGL</a></li>
                <li><a href="{{ site.baseurl }}/jahresberichte.html">Jahresberichte</a></li>
                <li><a href="{{ site.baseurl }}/verein.html">Verein</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/mitgliedschaft.html">Mitgliedschaft</a></li>
            <li>
              <span class="opener">Hermann-Sussann-Preis</span>
              <ul>
                <li><a href="{{ site.baseurl }}/sussann_preistraeger.html">Preistr&auml;ger</a></li>
                 <li><a href="{{ site.baseurl }}/sussann_literatur.html">Literatur</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
            <li><a href="{{ site.baseurl }}/datenschutz.html">Datenschutzerkl&auml;rung</a></li>
            <li><a href="{{ site.baseurl }}/impressum.html">Impressum</a></li>
          </ul>
        </nav>
      
    </div>
  </div>
