<!DOCTYPE html lang="de">
<!--
	AgGL Kenzingen Homepage
-->
<html>

{% include head.html %}

<body>

<img src="{{ site.baseurl }}/assets/images/kopfbild.png" alt="AgGL Kenzingen" width="100%">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                		<h2>{{ page.title }}</h2>
                	</header>

                  <!-- {% if page.image %}
                  <span class="image main"><img src="{{ page.image | absolute_url }}" alt="" /></span>
                  {% endif %} -->

                {{ content }}
		</section>
              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}

</body>

</html>
