<!DOCTYPE html>
<!--
	AgGL Kenzingen Homepage
-->
<html lang="de">

{% include head.html %}

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">

                {% include header.html %}

                <!-- Content -->
                <section>
                	<header class="main">
                		<h2>{{ page.title }}</h2>
                	</header>

                {{ content }}
                
		        </section>
            </div>
        </div>

          {% include sidebar.html %}

    </div>

      {% include footer.html %}

</body>

</html>
